<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.vectormap" >

    <uses-sdk android:minSdkVersion="23" />

    <meta-data
        android:name="com.kakao.vectormap.version.code"
        android:value="1" />

</manifest>